/* Footer CSS  */
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    padding-top: 3%;
    border-top: 5px solid black;


  }

  footer::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    padding-top: 3%;
    width: 100%; 
    height: 100%;
    background-image: url('../images/footerlogos/Footer.jpg');
    background-size: cover;
    filter: contrast(40%);

  }

  .footer-info{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
    font-size: 1.2em;
    text-align: center;
   backdrop-filter: blur(2px);
   background-color:#7763459f;
    border-radius: 1em;
    border: 2px solid #bf9f70;
    padding: 3%;
    padding-bottom: 0;
    margin-bottom: 1%;
  }

  .footer-info > p, .footer-info > div{
    padding: .5% 0;

  }

  .footer-info > h2{
    font-size: 1.1em;
    padding: 2% 0;;
  }

  .footer-info .wrap{
    font-size: .9em;
    padding: 0;
  }

  .footer-logos{
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    z-index: 1;
  }

  .footer-logos > a{
    display: flex;
    justify-content: center;
  }

  .footer-logos > a img {
	max-width: 100px;
	margin-inline: 0.5em;

  }

  .copyright {
    font-family: Arial, Helvetica, sans-serif;
  }
   


@media only screen and (max-width: 480px) {

    footer{
      
        border-top: 5px solid black;
    
      }
    
      footer::before{
       
        filter: contrast(40%);
    
      }

      .footer-info{
        font-size: 0.5em;
      }

      .footer-info > h2{
        font-size: 1.8em;
      }

      .footer-logos > a > img{
        width: 50%
      }
        
     


}